*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page {
  background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.7) ),url(../photos/zdjecie3.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  text-align: center;
  line-height: 1.7rem;
}

.text-home-page{
  width: 900px;
  color: #d48e00;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  padding-bottom: 50px;

}

h1 {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 3rem;
}

h2 {
  padding-top: -50px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  font-weight: lighter;
}
